*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
keystore.properties
#for twitter api keys
gradle.properties
/app/fabric.properties
/app
/app/build/generated/source/buildConfig/androidTest/debug/com/orangesunshine/moritwitter/test/BuildConfig.java
